
.lcd-centerd-bodies {
	max-width: 1440px;
	margin:auto;}

.mdl-layout__container {
	position: relative!important;}


.lcd-logo-image {
	display:block;
	width:162px;
	height:24px;
	vertical-align: middle;
	background-image: url('Assets/lcdesign@2x.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	box-sizing: border-box;
	margin: 12px 0 8px 0; }



.lcd-header {
	min-height: 44px;
	box-shadow: none;
	background-color: rgba(255, 255, 255, 1);
	-webkit-backdrop-filter: saturate(100%) blur(20px);
	backdrop-filter: saturate(100%) blur(20px);}



.lcd-layout {}

	.lcd-layout>.mdl-layout__content {
 	 	margin-right: 15px;}

	@media screen and (max-width: 1024px) {
			 .lcd-layout>.mdl-layout__content {
				 margin-right: 0;
				 } }


.mdl-layout--fixed-header>.lcd-header {
	position: fixed;}


.mdl-layout--fixed-header .page-content {
	margin-top:44px;}


.lcd-header .mdl-layout__header-row {
	height: 44px;
	padding: 0 44px 0 44px; }




.lcd-header .mdl-layout__drawer-button {
	margin: 0;
	height: 44px;
	width: 44px;
  position: absolute;
  color: rgb(0,0,0);
  background-color:rgba(0,0,0,0); }





.lcd-drawer {
	position: fixed;
	left:auto;
  box-shadow: 0 0 0 0;
	border-right: 0px solid rgb(224,224,224);
	background: rgba(255, 255, 255, 0);}


 @media screen and (max-width: 1024px) {
      .lcd-drawer > .mdl-layout__title,
      .lcd-drawer > .mdl-layout-title {
        padding-left: 30px;
		height:64px;} }


 @media screen and (min-width: 1025px) {
      .lcd-drawer > .mdl-layout__title,
      .lcd-drawer > .mdl-layout-title {
        padding-left: 30px;
		height:64px;} }


.lcd-drawer .lcd-logo-image {
	margin: 20px 0 20px 0; }



.lcd-drawer.mdl-layout__drawer {
	transition-duration: 0.4s;}

.lcd-layout .mdl-layout__obfuscator {
	transition-duration: 0.4s;}

.lcd-drawer .mdl-navigation{
	flex-grow:1;}


.lcd-drawer .mdl-navigation .mdl-navigation__link {
	padding: 8px 30px;
	font-family: "SFmono","Roboto Mono" "Roboto", "Helvetica", "Arial", sans-serif !important;
	color:#000000;
	opacity:0.4;}


.lcd-drawer .mdl-navigation .mdl-navigation__link:hover {
	background-color: rgba(255, 255, 255, 0)!important;
	opacity:1;}


.lcd-copyright-and-social {
	font-family: "SFmono","Roboto Mono" "Roboto", "Helvetica", "Arial", sans-serif;
	font-size: 13px;
	color:#000000;
	opacity:0.4;
	margin:30px 0px 30px 30px;
}







/* lcd-card  background: url('https://cdn-images-1.medium.com/max/2000/1*8lz2kG3qEW3R1y_K7owIKg.png') center / cover; */


.lcd-card-portfolio {
	width: 300px;
	height: 400px;
	border-radius: 0px;}


.lcd-card-portfolio .mdl-card__image {
	 -webkit-align-items: center;
	      -ms-flex-align: center;
	          align-items: center;
	 color: #fff;
	 height: 240px;
	 display: block;
	 display: -webkit-flex;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-justify-content: stretch;
	      -ms-flex-pack: stretch;
	          justify-content: stretch;
	 line-height: normal;

	 -webkit-perspective-origin: 165px 56px;
	          perspective-origin: 165px 56px;
	 -webkit-transform-origin: 165px 56px;
	          transform-origin: 165px 56px;
	 box-sizing: border-box;
	 background-color:#F3F3F3;
	 background: url('http://images.apple.com/v/iphone-6s/b/overview/accessories_large_2x.jpg') center / cover;}

.lcd-card__title-text {
	 color: rgba(0,0,0, 0.6);
	 font-family: "SFmono","Roboto Mono" "Roboto", "Helvetica", "Arial", sans-serif;
	 font-size: 1rem;
	 height: 56px;
	 line-height: 20px;
	 overflow: hidden;
	 padding: 16px 16px 0px 12px;}

.lcd-card__supporting-text {
	 color: rgba(0,0,0, 0.3);
	 font-family: "SFmono", "Roboto", "Helvetica", "Arial", sans-serif;
	 font-size: 12px;
	 line-height: 16px;
	 overflow: hidden;
	 padding: 0px 20px 0px 12px;}


.lcd-card-photos {

	border-radius: 0px;
	background-color:#f3f3f6;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-ms-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
}

.lcd-card-photos:hover {
	opacity: 0.4;
}

	.lcd-card-photos img {
        height: 100%;
        width: 100%;

		position: absolute;}
