.lcd-logo-image {
	width:40px;
	height:40px;
	vertical-align: middle;}
	
	
.lcd-header {
	
	background-color: rgba(255, 255, 255, 0.7);
/*	-webkit-backdrop-filter: saturate(100%) blur(10px);
	backdrop-filter: saturate(180%) blur(20px);
	inline-block */
  	box-shadow:  none;} 
	
.lcd-header .mdl-layout__drawer-button {
    position: absolute;
    color: rgb(0,0,0);
    background-color: inherit; }  	
	

.lcd-drawer {
  	box-shadow: 0 0 0 0;
	border-right: 0px solid rgb(224,224,224);
	background: rgb(254,254,254);}

.lcd-drawer .mdl-navigation .mdl-navigation__link {
	padding: 8px 40px;
	font-family: "SFmono","Roboto Mono" "Roboto", "Helvetica", "Arial", sans-serif;
	color:#000000;
	opacity:0.4;}
	
	
.lcd-drawer .mdl-navigation .mdl-navigation__link:hover {
	background-color: #ffffff!important;
	opacity:1;}
	
	



	

/* lcd-card  background: url('https://cdn-images-1.medium.com/max/2000/1*8lz2kG3qEW3R1y_K7owIKg.png') center / cover; */	
	
	
.lcd-card-portfolio {}
	
.lcd-card-portfolio .mdl-card {
	border-radius: 0px;}
	
.lcd-card-portfolio .mdl-card__image {
	 -webkit-align-items: center;
	      -ms-flex-align: center;
	          align-items: center;
	 color: #fff;
	 height: 176px;
	 display: block;
	 display: -webkit-flex;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-justify-content: stretch;
	      -ms-flex-pack: stretch;
	          justify-content: stretch;
	 line-height: normal;
	 padding: 16px 16px;
	 -webkit-perspective-origin: 165px 56px;
	          perspective-origin: 165px 56px;
	 -webkit-transform-origin: 165px 56px;
	          transform-origin: 165px 56px;
	 box-sizing: border-box; 
	 background: url('http://images.apple.com/v/iphone-6s/b/overview/accessories_large_2x.jpg') center / cover;}
	  
.lcd-card__title-text {
	 color: rgba(0,0,0, 0.6);
	 font-family: "SFmono","Roboto Mono" "Roboto", "Helvetica", "Arial", sans-serif;
	 font-size: 1rem;
	 line-height: 20px;
	 overflow: hidden;
	 padding: 8px 16px 0px 0px;
	 width: 90%; }
.lcd-card__supporting-text {
	 color: rgba(0,0,0, 0.3);
	 font-family: "SFmono", "Roboto", "Helvetica", "Arial", sans-serif;
	 font-size: 12px;
	 line-height: 16px;
	 overflow: hidden;
	 padding: 8px 16px 16px 0px;
	 width: 90%; }
		  		  
		  
	
	
	
	
	

}