/* {
    border:1px dashed #0000FF;
  
	}*/

body{
	margin:0px;
	padding:0px;
	background-color:#F8F8F8;
	
}

#kuang{
	
	margin:8px 8px 8px 8px;
	position:fixed;
	border: #000000 8px solid;
	height:97%;
	width:98%;
	z-index:1;

}

#navbg{
	background-color:#ffffff;
	width:256px;
	height:98%;
	margin:16px 0px 0px 16px;
	position:fixed;
	float:left;
}

#logo{
	width:120px;
	height:120px;
	margin:68px;
	
}

.mainmanu{
	list-style-type:none;
	margin:80px 0px 0px 15px;
	padding:0;
}

.mainmanu li{

	padding:6px;
	font-family:gill sans,Verdana PingFang SC, Helvetica Neue, Helvetica, STHeitiSC-Light;
	font-weight:normal;
	letter-spacing: 0.15em;
	font-size:0.75em;
	text-align:center;
}



#navdivider{
	height:1px;
	background-color:#999999;
	
	
}

#contact{
	position:absolute;
	bottom:0px;
	
}